<launch>
  <arg name="safety_controller_enabled"              default="$(optenv TURTLEBOT_SAFETY_CONTROLLER_ENABLED true)"         doc="For Kobuki it is fine to activate it, for Create better disable it"/>

  <!-- Safety controller -->
  <group if="$(arg safety_controller_enabled)">
    <include file="$(find turtlebot_bringup)/launch/includes/kobuki/safety_controller.launch.xml"/>
  </group>

  <!-- velocity smoother for teleoperation and navigation -->
  <include file="$(find strategy)/includes/velocity_smoother.launch.xml">
	<arg name="nodelet_name" value="navigation_velocity_smoother_teleop"/>
	<arg name="velocity_out" value="cmd_vel_mux/input/teleop"/>
  </include>
  <include file="$(find strategy)/includes/velocity_smoother.launch.xml">
        <arg name="nodelet_name" value="navigation_velocity_smoother_navi"/>
        <arg name="velocity_out" value="cmd_vel_mux/input/navi"/>
  </include>
</launch>
